[submodule "zoer/site-lisp/dash"]
	path = zoer/site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "zoer/site-lisp/diminish"]
	path = zoer/site-lisp/diminish
	url = https://github.com/emacsmirror/diminish
[submodule "zoer/site-slip/browse-kill-ring"]
	path = zoer/site-slip/browse-kill-ring
	url = https://github.com/T-J-Teru/browse-kill-ring.git
[submodule "zoer/site-lisp/browse-kill-ring"]
	path = zoer/site-lisp/browse-kill-ring
	url = https://github.com/T-J-Teru/browse-kill-ring.git
