[submodule "zoer/site-lisp/dash"]
	path = zoer/site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "zoer/site-lisp/diminish"]
	path = zoer/site-lisp/diminish
	url = https://github.com/emacsmirror/diminish
